[[source]]
url = 'https://pypi.python.org/simple'
verify_ssl = true
name = 'pypi'

[packages]
requests = { extras = ['socks'], version = '< 2.28.1' }
beautifulsoup4 = '>= 4.0.5, < 4.11.2, != 4.11.1'
pywinusb = { version = "*", os_name = "=='nt'", index="pypi"}
six = "== 1.16.0"

[dev-packages]
nose = '*'
unittest2 = {version = ">=1.0,<3.0", markers="python_version < '2.7.9' or (python_version >= '3.4')"}
